@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

@font-face {
  font-family: sosmed;
  src: url(Type\ Icons.ttf);
}

@font-face {
  font-family: icon;
  src: url(icon-works.regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fafafa;
  transition: 0.5s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header .logo {
  text-decoration: none;
  position: relative;
  font-size: 1.5em;
  color: #222;
}

header ul {
  position: relative;
  display: flex;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-left: 25px;
  color: #222;
  transition: 0.5s;
}

header ul li a:hover {
  color: #32cd32;
}

header nav ul .userBx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  width: 2px;
  height: 75%;
  background: #222;
  transform: translateY(5px);
}

header nav ul .userBx {
  position: relative;
  padding-left: 25px;
}

header nav ul li a {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transition: all 0.5s ease-in-out;
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-bottom-right-radius: 100%;
}

.kontenBx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.kontenBx .teksBx {
  position: relative;
}

.kontenBx .teksBx h1 .title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #222;
  /* border-radius: 8px; */
}

.kontenBx .teksBx h1 {
  position: relative;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
}

.kontenBx .teksBx h1 .title {
  position: relative;
  font-size: 0.5em;
}

.kontenBx .teksBx p {
  position: relative;
  display: inline-block;
  max-width: 75%;
  margin: 30px 0 35px;
  font-size: 1.1em;
  font-weight: 300;
  text-align: justify;
}

.kontenBx .teksBx .buttonBx {
  position: relative;
  display: flex;
}

.kontenBx .teksBx .buttonBx li {
  list-style: none;
  margin-right: 15px;
}

.kontenBx .teksBx .buttonBx li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  background: #222;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
}

.kontenBx .teksBx .buttonBx li:nth-child(2) a .icon {
  font-family: icon;
  margin-right: 10px;
}

.kontenBx .teksBx .buttonBx li:nth-child(2) a {
  background: transparent;
  color: #222;
  border: 1px solid #222;
}

.fotoBx {
  position: relative;
}

.fotoBx img {
  position: relative;
  width: 300px;
  height: 300px;
  /* box-shadow: 0 8px 45px rgba(0, 0, 0, 0.8); */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
}

.fotoBx .infoBx {
  position: absolute;
  padding: 25px;
  background: #222;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translate(-25px, -70px);
}

.fotoBx .infoBx p {
  position: relative;
  font-size: 1em;
  line-height: 1.6em;
}

.fotoBx .infoBx p .listen {
  font-size: 0.7em;
}

.fotoBx .infoBx p .sosmed {
  font-size: 1.2em;
  margin-left: 10px;
}

.fotoBx audio {
  position: absolute;
  width: 100px;
  left: 0;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transform: translate(-50px, -25px);
}

.footerBx {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 100px;
}
